<li id="<%= feed_item.id %>">
	<!--Start with a gravatar image of the user linking to that specific feed_item-->
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<!--Span that includes the user's name linking to the feed item of the user-->
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<%= render 'microposts/feed_micropost', micropost: feed_item %>
</li>