<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>
	<h2>
			This is the home page for the 
			<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
	</h2>

	<!--Button which links to the sign up page-->
	<%= link_to "Sign up now!", signup_path, class: "btn btn-small btn-primary" %>
</div>

<!--Link to ruby on rails homepage with rails logo as image-->
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>